<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			{% block title %}Gestión de Actividades Recreativas{% endblock %}
		</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='style.css') }}"
		/>
	</head>
	<body>
		<header>
			<h1>Bienvenidos a Gestión de Actividades Recreativas</h1>
			<nav>
				<ul>
					<li><a href="{{ url_for('agregar') }}">Agregar actividad</a></li>
					<li>
						<a href="{{ url_for('listado') }}">Ver listado de actividades</a>
					</li>
					<li><a href="{{ url_for('estadisticas') }}">Estadísticas</a></li>
				</ul>
			</nav>
		</header>
		<main>{% block content %}{% endblock %}</main>
	</body>
</html>
